@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.2.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.2.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.2.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.2.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}



html,body {
 
  color: #222;
}

/*---Navbar style---*/
.section77 {
  padding: .8rem;
  
}
.navbar-nav li {
  padding-right: 20px;
}
.nav-link {
  font-size: 1.1em !important;
}

/*---Section1---*/
.section1 {
  background: rgb(30,108,138);
background: linear-gradient(90deg, rgba(30,108,138,1) 10%, rgba(24,122,126,1) 29%, rgba(21,128,121,1) 38%, rgba(14,144,109,1) 100%);
  padding: 0px;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #fff;
}
.section6 {
  padding-top: 15px;
  padding-bottom: 85px!important;
  background: rgb(30,108,138);
background: linear-gradient(90deg, rgba(30,108,138,1) 10%, rgba(24,122,126,1) 29%, rgba(21,128,121,1) 38%, rgba(14,144,109,1) 100%);}


.dark-overlay {

  top: 0;
  left: 0;
  width: 100%;
}
.section1 h1 {
  font-size: 34px;
  margin-top: 0.5rem;
  line-height: 48px;
  letter-spacing: 1px;
  font-weight: 400;
}
.section1 p {
  text-shadow: 1px 1px 2px #000;
  font-weight: 400;
}

/*---Form---*/
.formbox {
  background:#fff;
  padding: 3rem 1.2rem;
  margin: 2rem 1rem;
  margin-top: 4rem;
  border-radius: 6px;
  color: #222;
}
.form-control {
  padding: .5rem;
  margin-bottom: 1rem;
}
.form-control:focus {
  box-shadow: none;
}
.btn {
  width: 70%;
  background-color: #fff
  border-color: #fff;
  font-size: 24px;
  margin-bottom: 1rem;
  margin-top: 20px;
  color: #158079;
}
.btn:hover {
  color: #222;
  
}
.btn:active {
  position:relative;
  top:1px;
}


/*---General---*/
.row {
 
  margin: 0 auto;
}
.padding {
  padding-bottom: 1rem;
}
.onesize {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}
.onesize hr {
  border-top: 2px solid #b4b4b4;
  width: 95%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}
.lead{
  font-weight: 300px!important;
}
/*---Section2---*/
.section2 {
  background-color: #333;
  color: #fff;

}

/*---Section3 style---*/
.section3 {
  padding-top: 1.5rem;
}



/*---Section5---*/
.section5 {
  background-color: #333;
  color: #fff;
}

/*---Section6---*/
.cards {
  margin-top: 2rem; 
}
.card-title {
  color: #ff7b00;
}


footer {
  background-color: #fff;
  color: #222;
  padding-top: 2rem;
}
footer a {
  color: #d5d5d5;
}
hr.light {
  border-top: 1px solid #d5d5d5;
  width: 75%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}
hr.light-100 {
  border-top: 1px solid #d5d5d5;
  width: 100%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}
.dtop{color:#ffd507!important;text-decoration: none!important;}
.dtop a{color:#ffd507!important;text-decoration: none!important;}
.dtop h3{font-weight: bold;margin-top: 15px; margin-bottom: 15px;}
/*--------------------------------------------------------------------------------------------*/
/*---Media Queries --*/

@media (max-width: 992px) {
  .social a {
    font-size: 4em;
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  .section77 {
  padding: .8rem;
  display: ;
}
.dtop{display: none;}

  .social a {
    font-size: 2.5em;
    padding: 1.2rem;
  }
}

@media (max-width: 576px) {
  .dtop{display: none;}
  .row {
    width: 100%;
  }
  #button {
    margin: 30px;
    right: 1px;
    width: 35px;
    height: 35px;
  }
  #button::after {
    font-size: 1.4em;
    line-height: 30px;
    color: #fff;
  }
  .formbox {
    margin: 0rem;
    padding: .8rem;
    width: 100%;
  }
  .padding {
    padding: 0;
  }
  .onesize {
    width: 100%;
  }
  .fa-check-circle{
    font-size: 2em;
  }
  .social a {
    font-size: 1.8em;
    padding: .6rem;
  }
}
@media (max-width: 360px) and (min-width: 321px) {
    #span1 {
        font-size: 29px !important;
    }
    .inclusive {
        font-size: 31px;
    }
    #span2 {
        font-size: 26px !important;
    }
}
@media (max-width: 375px) and (min-width: 361px) {
    #span1 {
        font-size: 31px !important;
    }

    #span2 {
        font-size: 26px !important;
    }
}
@media (max-width: 414px) and (min-width: 412px) {

    #span2 {
        font-size: 31px !important;
    }
}
@media (max-width: 411px) and (min-width: 376px) {
   
    #span2 {
        font-size: 31px !important;
    }
}
@media (max-width: 320px) {
    #span1 {
        font-size: 25px !important;
    }
    .inclusive {
        font-size: 27px;
    }
    #span2 {
        font-size: 23px !important;
    }
}
@media (max-width: 768px) {
    .section77 {
        padding: .4rem;
         
    }

    .pd0 {
        padding: 0px !important;
        padding-top: 5px !important;
    }
}

.pd0t {
    padding-top: 156px !important;
}

@media (max-width: 1440px) {
    .pd0t {
        padding-top: 71px !important;
    }
}
@media (max-width: 1280px) {
    .pd0t {
        padding-top: 42px !important;
    }
}
@media (max-width: 1176px){ .pd0t {
    padding-top: 15px !important;
}
}
@media (max-width: 1024px) {
    .pd0t {
        padding-top: 0px !important;
        /* font-size: 10px !important; */
    }

    .section1 h1 {
        font-size: 31px !important;
    }
}
.navbar-brand {
    display: inline-block;
    padding-top: 0px !important;
}
/*---Firefox Bug Fix --*/

/*--- Fixed Background Image --*/
figure {
  position: relative;
  height: 60%;
  margin: 0!important;
}


#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/








